/* form elements */
form {
	margin:10px; padding: 0 5px;
	border: 1px solid #f2f2f2; 
	background-color: #FAFAFA; 	
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding:2px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
textarea {
	width:400px;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 24px;
	margin: 0;
	padding: 2px 3px; 
	color: #FFF;
	background: #8EB50C url(../imgs/button-bg.jpg) repeat-x 0 0;
	border: none;
}
#userTable {
	margin: 10px 5px;
	border-top: 1px dashed blue;
	border-left: 1px dashed blue;
	border-right: 1px dashed blue;
}

.memberRow {
	border-bottom: 1px dashed blue;
}
.userName, .userEmail, .userRegDate, .userIP, .userGroup {
	float: left;
	padding: 5px 10px;
}